extends layout

block content
  nav
    if user 
        span
            span Logged in: #{user.firstName} #{user.lastName}  
            a(href='/logout') Sign out
    else
        a(href='/login') Sign in

  h1 Create Contact 
  
  .container
    form(action="/", method="post")
      fieldset
        legend Basic Info
        input(name="newContactId", value=newContactId, type="hidden")
        section 
          label(for="title") Title: 
          input(name="title", required) 
        section 
          label(for="firstName") First Name: 
          input(name="firstName", required)
        section 
          label(for="lastName") Last Name: 
          input(name="lastName", required)
        section 
          label(for="phoneNumber") Phone: 
          input(type="phoneNumber", name="phoneNumber", required)
        section 
          label(for="emailAddress") Email: 
          input(type="emailAddress", name="emailAddress", pattern="[a-zA-Z0-9._%+-]+@[a-zA-Z0-9.-]+\.[a-zA-Z]{2,}", required)
      fieldset
        legend Address 
        section 
          label(for="address") Full Address: 
          input(name="address", required)
      fieldset
        legend Contact Preferences 
        section 
          label(for="contactByMail") Contact by phone
          input(type="checkbox", name="contactByMail") 
        section 
          label(for="contactByPhone") Contact by email
          input(type="checkbox", name="contactByPhone")
        section 
          label(for="contactByEmail") Contact by email
          input(type="checkbox", name="contactByEmail")
          
      button(type="submit") Add 
      p
        a(href="/") Cancel
