doctype html
html
  head
    title Contacts
    meta(name="viewport", content="width=device-width,initial-scale=1")
    link(rel="stylesheet", href="/app.css")
    //- style.
    //-   .info-block {
    //-       border-top: solid 1px red;
    //-       margin-top:4rem;
    //-   }
    //-   .info::before {
    //-       content: '\1F4CC';
    //-       font-size: 50px;
    //-       float:left;
    //-       margin-right:1em;
    //-   }
    //-   .info {
    //-       clear:both;
    //-       margin-bottom:2rem;
    //-   }
  body
    block content
